---
import Layout from "../layouts/Layout.astro";
import ImageModal from "../components/ImageModal.astro";
import MotionPath from "../components/MotionPath.astro";
import HeroEvent from "../components/HeroEvent.astro";

---

<Layout>
<main class="relative min-h-screen w-full overflow-x-hidden">

  <HeroEvent 
    title="Clara" 
    subtitle="Mis 15 años"
    bgImage="https://placehold.co/1440x990.png" />
  
  <MotionPath imgUrl="/luciernaga-ray.png" />
  
  <ImageModal />  

</main>
</Layout>