---
 const AltProfilePhoto = "sofia Gómez profile photo";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      No hay nada mas importante para una niña que poder celebrar sus 15 años y mucho mejor si lo puede hacer rodeada de mi familia y amigos que son las persona que realmente me estiman, gracias por estar hoy aqui acompañandome en este dia inolvidable y poder contar contigo en mis 15 años es un recuerdo que por siempre quedaran en mi memoria
    </p>

    <p>
     Espero que disfrutes mi fiesta tanto como lo hare yo, gracias por estar conmigo esta noche.
    </p>

    <!-- <p>
      ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </p> -->
  </div>

  <img width="160" height="160" src="https://placehold.co/400x400.png" alt={AltProfilePhoto} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>